* {
    margin: 0;
    font-family: sans-serif;
}

.box1 {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2 {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box3 {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: none;
   
}

.m1 {
    display: flex;
    gap: 40px;

    p {
        font-size: 22px;
        color: #1E1E1E;
    }
}

.m2 {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-size: 16px;
        color: #1E1E1E9E;
    }

    h3 {
        font-size: 21px;
        font-weight: 400;
    }

    button {
        width: 289px;
        height: 77px;
        border-radius: 40px;
        background: linear-gradient(0deg, #447C2A, #447C2A), linear-gradient(90.95deg, rgba(61, 184, 70, 0) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0) 99.45%);
        box-shadow: 0px 12px 12px 0px #2A7C3057;
        font-size: 20px;
        border: none;
        color: white;
    }
}
.a1 {
    max-width: 1400px;
    margin: auto;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.54) 15.5%, rgba(0, 0, 0, 0) 34.86%), url("./Слой\ 2\ 1.png");
    border-radius: 80px;
    height: 751px;
    margin-top: 100px;
    color: white;

}


.pp1 {
    font-weight: 900;
    font-size: 43px;
    line-height: 59px;
}

.pp2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px;
    font-weight: 300;
}

.box11 {
    position: absolute;
    top: 390px;
    left: 229px;

}

.box33 {
    position: absolute;
    top: 800px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    gap: 100px;
    font-weight: 300;
    justify-content: space-between;
    left: 229px;
}

.box22 {
    display: flex;
    gap: 20px;
}
.tel{
    display: none;
}
@media(max-width:600px) {
    .veb1 {
        display: none;
    }
    .tel{
        display: block;
       div{
        padding: 20px;
       }
    }
}