@charset "UTF-8";
* {
  margin: 0;
  font-family: sans-serif;
}

.box1 {
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box2 {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box3 {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  display: none;
}

.m1 {
  display: flex;
  gap: 40px;
}
.m1 p {
  font-size: 22px;
  color: #1E1E1E;
}

.m2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.m2 p {
  font-size: 16px;
  color: rgba(30, 30, 30, 0.6196078431);
}
.m2 h3 {
  font-size: 21px;
  font-weight: 400;
}
.m2 button {
  width: 289px;
  height: 77px;
  border-radius: 40px;
  background: linear-gradient(0deg, #447C2A, #447C2A), linear-gradient(90.95deg, rgba(61, 184, 70, 0) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0) 99.45%);
  box-shadow: 0px 12px 12px 0px rgba(42, 124, 48, 0.3411764706);
  font-size: 20px;
  border: none;
  color: white;
}

.a1 {
  max-width: 1400px;
  margin: auto;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.54) 15.5%, rgba(0, 0, 0, 0) 34.86%), url("./Слой 2 1.png");
  border-radius: 80px;
  height: 751px;
  margin-top: 100px;
  color: white;
}

.pp1 {
  font-weight: 900;
  font-size: 43px;
  line-height: 59px;
}

.pp2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 30px;
  font-weight: 300;
}

.box11 {
  position: absolute;
  top: 390px;
  left: 229px;
}

.box33 {
  position: absolute;
  top: 800px;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  gap: 100px;
  font-weight: 300;
  justify-content: space-between;
  left: 229px;
}

.box22 {
  display: flex;
  gap: 20px;
}

.tel {
  display: none;
}

.ddr2 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.ip1 {
  font-size: 44px;
  margin-bottom: 30px;
}

.ip2 {
  font-size: 24px;
  color: #747474;
  margin-bottom: 30px;
}

.id1 {
  width: 50%;
}

.tel {
  display: none;
}

.im1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.i1 {
  display: flex;
  gap: 20px;
}

.im2 {
  width: 95%;
  height: 550px;
  margin: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 35.71%, rgba(0, 0, 0, 0) 44.93%), linear-gradient(186.23deg, rgba(113, 171, 40, 0.61) 24.29%, rgba(113, 171, 40, 0) 32.87%), url("./Слой 2 1 (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  border-radius: 40px;
  position: relative;
}

.i2 {
  position: absolute;
  left: 40px;
  color: white;
  top: 60px;
}

.o1 {
  font-size: 24px;
}

.o2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}

.o3 {
  font-size: 22px;
  font-weight: 200;
}

@media (max-width: 600px) {
  .box22 {
    color: white;
    margin-top: 30px;
  }
  .id1 {
    width: 95%;
    margin: auto;
  }
  .box4 {
    position: absolute;
    top: 300px;
    font-size: 17px;
    left: 40px;
  }
  .img1 {
    margin-bottom: 40px;
  }
  .ip2 {
    font-size: 16px;
    width: 300px;
    margin-left: 30px;
  }
  .ip1 {
    font-size: 24px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .veb1 {
    display: none;
  }
  .tel {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */